{%extends "NOGestionnaireBundle::layout.html.twig" %}
{% block title %}
	Ajout du nombre de jours vendus - suivi - {{ parent() }}
{% endblock %}

{% block body %}
	{{form(formJoursVendus)}}
	<a href="{{ path('no_gestionnaire_suivi', {'id': projet.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Retour au suivi du projet</a>
{% endblock %}