<div>
	<h4>Projets en cours</h4>
	<ul class="nav nav-pills nav-stacked">
		{% for projet in projets %}
			<li>
				<a href="{{ path('no_gestionnaire_suivi', {'id':projet.id}) }}">{{ projet.nomProjet }}</a>
			</li>
		{% endfor %}
	</ul>		
</div>