{% extends "NOGestionnaireBundle::layout.html.twig" %}
{% block title %}
	Modification du projet - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="col-lg-5">
		{{ include('NOGestionnaireBundle:Projet:formModifTache.html.twig') }}
	{% block bouton %}
		<a href="{{ path('no_gestionnaire_suivi', {'id': tache.projet.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>Retour au suivi</a>
	{% endblock %}
	</div>
{% endblock %}