{%extends "NOGestionnaireBundle::layout.html.twig" %}
{% block title %}
	Modification du projet - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="col-lg-3">
		<h4>Modifie le nom du pole choisi</h4>
		{{ form(form) }}
	</div>
	<div class="col-lg-12">
		<a href="{{ path('no_gestionnaire_homepage') }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>Retour à l'accueil</a>
	</div>
{% endblock %}