{%extends "NOGestionnaireBundle::layout.html.twig" %}
{% block title %}
	Super test - {{ parent() }}
{% endblock %}

{% block body %}
	<h3>Page d'accueil du gestionnaire</h3>
	<p>En cliquant sur le projet souhaité vous accéderez à son suivi.</p>
{% endblock %}

